* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    /*background: url('notebook.png'); !* add a fallback color of #d6d6d6 *!*/
    background: #d6d6d6;
    color: #000000;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    /* line-height is unit-less */
    font-size: 100%;
}

/* ----------------------------
top
-----------------------------*/
h1 {
    letter-spacing: -0.188rem;
    font-size: 3.438rem;
    margin-left: 3%;
    color: rgb(14, 83, 152);
    animation: movein 1s linear 1;
    animation-delay: 0.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
    overflow: hidden;
    z-index: 1;
}

@keyframes movein {
    0% {
        transform: scale(0.5);
        visibility: visible;
    }

    100% {
        transform: scale(1);
        visibility: visible;
    }
}

h2 {
    font-size: 2rem;
}

blockquote {
    border-left: 0.313rem #BBB solid;
    padding-left: 0.625rem;
    margin-left: 0;
    font-style: italic;
}

a {
    color: #ff3300;
    text-decoration: none;
    font-weight: bold;
}

.contact {
    width: 1rem;
    float: none;
}

/*-----------------------------------------------------------------------------
02=LAYOUT
-----------------------------------------------------------------------------*/

.container {
    margin: 0 auto 0 auto;
    width: 42rem;
}

.main {
    width: 100%;
    float: left;
    background: #FFF;
    font-size: 1.188rem;
    padding: 1.563rem;
    margin-right: 1.2rem;
    margin-bottom: 25%;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: -10px 5px 11px #7d7d7d;
    display: flex;
    position: relative;
    /*transition: top ease 0.5s;*/
    animation: moveright 1s linear 1;
    animation-delay: 1.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
    z-index: 1;
    overflow: hidden;
}

@keyframes moveright {
    0% {
        transform: translateX(-100px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

/*.main:hover {*/
/*    top: -40px;*/
/*}*/

.mark {
    color: #ff3300;
    text-decoration: none;
    font-weight: bold;
}


/*-----------------------------------------------------------------------------
03=MAIN
-----------------------------------------------------------------------------*/

.post {
    margin-bottom: 3.125rem;
    float: left;
    padding-right: 12px;
    border-right: 0.053rem #000000 solid;
    padding-top: 25px;
}

.post2 {
    margin-bottom: 3.125rem;
    float: left;
    padding-left: 24px;
    border-left: 0.053rem #000000 solid;
    padding-top: 21px;
}

.post-meta {
    color: #999;
    padding: 0.625rem;
    border-top: #000000 solid 0.063rem;

}

.profile img {
    border-radius: 400px;
    animation: zoomin 1s linear 1;
    animation-delay: 2.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
    overflow: hidden;
    z-index: 1;
}

@keyframes zoomin {
    0% {
        transform: scale(0.5);
        visibility: visible;
    }

    100% {
        transform: scale(1);
        visibility: visible;
    }
}

i {
    font-weight: bolder;
    color: rgb(9, 142, 176);
}

/* nav bar */
/* navbar regular css start */
.navbar-area {
    background: #070707a5;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    z-index: 9999;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    z-index: 9999;
}

.site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 9999;
}

.site-navbar ul li a:hover {
    background: rgb(255, 255, 255);
    color: #000000;
    z-index: 9999;
}

/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {

    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
    border: none;
    z-index: 9999;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
    z-index: 9999;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}

/* nav-toggler css start */



/*
--------------------
*/

@media only screen and (max-width: 899px) {
    .container {
        width: 100%;
    }


    .main {
        width: 100%;
    }


    .nav-toggler {
        display: block;
        z-index: 9999;
    }

    .site-navbar {
        min-height: 60px;
        z-index: 9999;
    }

    .site-navbar ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #444;
        background-color: rgba(0, 0, 0, .75);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 9999;
    }

    .site-navbar ul li {
        width: 100%;
        text-align: center;
        z-index: 9999;
    }

    .site-navbar ul li a {
        padding: 25px;
        z-index: 9999;
    }

    .site-navbar ul li a:hover {
        background-color: rgba(2, 204, 255, 0.725);
        z-index: 9999;
    }

    .site-navbar ul.open {
        max-height: 100vh;
        overflow: visible;
        z-index: 9999;
    }

    .intro-area h2 {
        font-size: 36px;
        margin-bottom: 15px;
        z-index: 9999;
    }

    /* navbar css for mobile end */
}

/* mobile breakpoint end */