* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    /* Code for Firefox */
    background: #79ffe1;
}

::selection {
    background: #79ffe1;
    color: #000;
}

:root {
    --primary: #666666;
    --primary-hover: #000000;
    --primary-focus: rgba(3, 155, 229, 0.125);
    --primary-inverse: #FFF;
}

[data-theme="dark"] {
    --primary:  #888888;
    --primary-hover: #FFF;
    --primary-focus: rgba(3, 155, 229, 0.125);
    --primary-inverse: #000000;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

html {
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}

body {
    overflow-x: hidden;
    background-color: var(--primary-inverse);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    color: var(--primary-hover);
}

svg {
    width: 2rem;
    height: 2rem;
    fill: var(--primary);
}

svg:hover {
    fill: var(--primary-hover);
}

.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--primary-hover);
}

.outline {
    border: 1px solid var(--primary-inverse);
    border-radius: 5px;
    background: var(--primary-hover);
    color: var(--primary-inverse);
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
}

.outline:hover {
    border-radius: 5px;
    border: 1px solid var(--primary-hover);
    background: var(--primary-inverse);
    color: var(--primary-hover);
}

/* ------- nav ------ */
nav>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    font-size: 1.3rem;
    background-color: var(--primary-inverse);
}

.hover:hover {
    font-weight: 600;
}

/* ----- main ----- */
.Home {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    max-width: 100%;
}

h1 {
    font-family: monospace;
    font-size: 3rem;
    color: var(--primary);
}

/* h3 {
}

h2 {
} */

.divider {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
}

hr {
    border: 0.1px groove var(--primary-hover);
    width: 35%;
    margin: 0 auto;
}

article {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    padding: 1rem 0 1rem 0;
    height: 100vh;
}

/* ---- footer ---- */

footer {
    margin-bottom: 3rem;
}

select {
    border: 1px solid var(--primary);
    border-radius: 5px;
    background: var(--primary-inverse);
    color: var(--primary-hover);
    padding: 50px 100px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
}

.theme-toggle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    border: 2px solid var(--primary);
    border-radius: 500px;
    transition: all 0.3s ease;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999999;
    margin: 5rem;
    background-color: var(--primary-hover);
    color: var(--primary-inverse);
}

.theme-toggle:hover {
    cursor: pointer;
}



/*-------  media queries -----*/

@media (max-width: 1000px) {
    hr {
        width: 20%;
    }
}

@media (max-width: 576px) {
    .outline {
        width: 60%;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .theme-toggle {
        display: none;
    }
}

/* Animation */