---
import Layout from '../layouts/Layout.astro'
import Contact from '../components/Contact.astro'
---

<Layout title='Contact'>
  <div class="mar-top">
    <h1>Contact</h1>
    <Contact />
    <div class="contact-link">
      <ul>
        <li>
          <a href="https://github.com/vishal-kacha"
          ><img src="/github.svg" alt="" /></a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/vishal-kacha-32918b247"
          ><img src="/linkedin.svg" alt="" /></a>
        </li>
        <li>
          <a href="https://twitter.com/vishal__kacha"
          ><img src="/x.svg" alt="" /></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/visha_lkacha/"
          ><img src="/instagram.svg" alt="" /></a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
.mar-top {
margin-top: 5rem;
}

h1 {
margin-bottom: 2rem;
text-align: center;
font-size: 2rem;
}

.contact-link ul {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
list-style: none;
margin-top: 2rem;
}

.contact-link ul li a {
all: unset;
padding: 0 1rem;
color: #000;
cursor: pointer;
opacity: 0.8;
}

.contact-link ul li a:hover {
transition: all 0.5s ease-in-out;
opacity: 1;
}

.contact-link ul li a img {
width: 2.5rem;
height: 2.5rem;
}
</style>
