---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="home" id="home">
    <h1>Hello</h1>
  </div>

  <div class="project" id="project">
    <h1>Project</h1>
  </div>

  <div class="contact" id="contact">
    <h1>Contact</h1>
  </div>
</Layout>

<style>
  .home,
  .project,
  .contact {
    height: 100vh;
  }
</style>
