---
import Layout from '../layouts/Layout.astro'
import Project from '../components/Projects.astro'
---

<Layout title='Projects'>
  <div class="mar-top">
    <h1>My Projects</h1>
    <Project />
  </div>
</Layout>

<style>
.mar-top {
margin-top: 5rem;
}

h1 {
margin-bottom: 2rem;
}
</style>
