<div>
  <nav>
    <div class="middle">
      <h1><a href="/">Vishal</a></h1>
      <ul>
        <li><a href="#project">Projects</a></li>
      </ul>
    </div>
  </nav>
</div>

<style>
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.80);    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 1.3rem;
  }

  ul li {
    padding: 0 0 0 2rem;
  }

  ul li a {
    text-decoration: none;
    color: #a1a1aa;
  }

  ul li a {
    font-size: 1.2rem;
  }

  ul li a:hover {
    color: #fff;
  }

  h1, h1 a {
    font-size: xx-large;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
  }
</style>
