---

---

<div class="logos">
  <img class="react-logo" src="react.svg" alt="react-logo" />
  <img class="astro-logo" src="astro.svg" alt="react-logo" />
  <img class="nextjs-logo" src="next-js.svg" alt="react-logo" />
</div>

<div class="container">
  <h1>Hi my name is Vishal</h1>
  <p>Web developer buildinng full stack applications.</p>
  <p class="p2">Using web framework <span id="frameworkDisplay">React</span></p>
  <a class="project-button" href="/project">projects</a>
</div>

<script is:inline>
  let frameworklist = ["React", "Astro", "Nextjs"];
  let framework = 1;
  let word = document.getElementById("frameworkDisplay");

  function rotateFramework() {
    word.innerHTML = frameworklist[framework];
    framework = (framework + 1) % frameworklist.length;
    if (word.innerHTML == "React") {
      word.style.color = "rgb(19, 158, 202)";
      document.querySelector(".react-logo").style.opacity = 1;
      document.querySelector(".nextjs-logo").style.opacity = 0.5;
    } else if (word.innerHTML == "Astro") {
      word.style.color = "rgb(228, 58, 153)";
      document.querySelector(".astro-logo").style.opacity = 1;
      document.querySelector(".react-logo").style.opacity = 0.5;
    } else if (word.innerHTML == "Nextjs") {
      word.style.color = "#fff";
      document.querySelector(".nextjs-logo").style.opacity = 1;
      document.querySelector(".astro-logo").style.opacity = 0.5;
    }
  }

  setInterval(rotateFramework, 4000);
</script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
  }

  .image {
    border-radius: 1000px;
  }

  h1 {
    font-size: 6rem;
    font-family: Geist-Bold;
    letter-spacing: -1px;
  }

  p {
    font-size: 3rem;
  }

  .p2 {
    font-size: 2.6rem;
  }

  a {
    all: unset;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    opacity: 0.8
  }

  a:hover {
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }



  #frameworkDisplay {
    color: rgb(19, 158, 202);
    font-weight: 900;
    text-shadow: 0 0 5px;
  }

  .logos img {
    min-width: 100px;
    min-height: 100px;
    width: 15%;
    height: 15%;
    position: absolute;
    z-index: -9;
  }

  .react-logo {
    top: 15%;
    right: 5%;
    animation: updown 10s linear infinite;
    opacity: 1;
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 5px rgb(19, 158, 202));
  }

  .astro-logo {
    top: 50%;
    left: 3%;
    animation: downup 10s linear infinite;
    opacity: 0.5;
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 5px rgb(228, 58, 153));
  }

  .nextjs-logo {
    top: 75%;
    right: 15%;
    animation: updown 10s linear infinite reverse;
    opacity: 0.5;
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 5px #fff);
  }

  @keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes downup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @media (max-width: 1400px) {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 2rem;
    }

    .p2 {
      font-size: 1.5rem;
    }

    a {
      font-size: 2rem;
    }
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.6rem;
    }

    .p2 {
      font-size: 1.4rem;
    }

    a {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.6rem;
    }

    .p2 {
      font-size: 1.4rem;
    }


    .astro-logo {
      display: none;
    }
  }

</style>
