<div class="Container">
  <div>
    <h1>Hi my name is Vishal</h1>
    <p>I am a Web developer buildinng full stack applications.</p>
    <a href="/project">projects</a>
  </div>
</div>

<style>
  .Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
