<div class="project-cards">
  <div class="cards">
    <div class="info">
      <h3>File share app</h3>
      <div>
        <ul>
          <li>
            <a href="https://github.com/vishal-kacha/file-share"
              ><img src="github.svg" alt="" /></a
            >
          </li>
          <li><a href="http://file-share-vishal.vercel.app"><img src="link.svg" alt="" /></a></li>
        </ul>
      </div>
      <p class="description">
        Nextjs app to share files with other users using link.
      </p>
      <img class="infoimg" src="fileupload.png" alt="" />
    </div>
  </div>

  <div class="cards">
    <div class="info">
      <h3>College Site clone</h3>
      <div>
        <ul>
          <li>
            <a href="https://github.com/vishal-kacha/College-site-clone"
              ><img src="github.svg" alt="" /></a
            >
          </li>
          <li>
            <a href="https://tcsc-site-clone.netlify.app/"
              ><img src="link.svg" alt="" /></a
            >
          </li>
        </ul>
        <p>College site clone using react and supabase.</p>
        <img class="infoimg" src="collegesite.png" alt="" />
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="info">
      <h3>Gender Equity</h3>
      <div>
        <ul>
          <li>
            <a href="https://github.com/vishal-kacha/gender-equity"
              ><img src="github.svg" alt="" /></a
            >
          </li>
          <li>
            <a href="https://vishal-kacha.github.io/gender-equity/"
              ><img src="link.svg" alt="" /></a
            >
          </li>
        </ul>
        <p>A site to show importance of Gender Equity.</p>
        <img class="infoimg" src="genderequity.png" alt="" />
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="info">
      <h3>Todo app</h3>
      <div>
        <ul>
          <li>
            <a href="https://github.com/vishal-kacha/React-todo"
              ><img src="github.svg" alt="" /></a
            >
          </li>
          <li>
            <a href="https://todo-app-vishal.netlify.app/"
              ><img src="link.svg" alt="" /></a
            >
          </li>
        </ul>
        <p>Mern stack Todo app.</p>
        <img class="infoimg" src="todoapp.png" alt="" />
      </div>
    </div>
  </div>
</div>

<style>
  .project-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 2rem;
  }

  .cards {
    width: 400px;
    height: 380px;
    background-color: rgba(254, 254, 254, 0.1);
    border-radius: 10px;
    position: relative;
  }

  @media (min-width: 1350px) {
    .project-cards {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: 100vh;
    }

    .cards {
      width: 400px;
      height: 380px;
      background-color: #18181b;
      border-radius: 10px;
      position: absolute;
      transition: 1.3s ease-in-out;
      box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }

    .project-cards:hover > .cards:nth-child(1) {
      transform: translate(-400px, -30px);
    }

    .project-cards:hover > .cards:nth-child(2) {
      transform: translate(20px, 200px);
    }

    .project-cards:hover > .cards:nth-child(3) {
      transform: translate(30px, -200px);
    }

    .project-cards:hover > .cards:nth-child(4) {
      transform: translate(450px, 20px);
    }
  }

  @media (min-width: 1024px) and (max-width: 1349px) {
    .project-cards {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
    }

    .cards {
      width: 400px;
      height: 380px;
      background-color: #18181b;
      border-radius: 10px;
      position: absolute;
      transition: 1.3s ease-in-out;
    }

    .project-cards:hover > .cards:nth-child(1) {
      transform: translate(-250px, -30px);
    }

    .project-cards:hover > .cards:nth-child(2) {
      transform: translate(-200px, 400px);
    }

    .project-cards:hover > .cards:nth-child(3) {
      transform: translate(200px, -200px);
    }

    .project-cards:hover > .cards:nth-child(4) {
      transform: translate(250px, 200px);
    }
  }

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
  }

  .info h3 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  .info p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  .infoimg {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .info div ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
  }

  .info div ul li {
    list-style-type: none;
  }

  .info div ul li a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
  }
</style>

<script>
  if ("ontouchstart" in window || navigator.maxTouchPoints) {
    // Touchscreen is supported
    console.log("Touchscreen is supported.");
  } else {
    // Touchscreen is not supported
    console.log("Touchscreen is not supported.");
  }
</script>
